
body{background-color: rgb(3, 175, 218);
    
    }
#shop{
    font-size: 50px;
    margin-left: 20px;
    color: rgb(33, 6, 107);
}
form{
margin:20px;}
header{padding-left: 20px;
    padding-right: 50px; 
    padding-bottom: 50px;
    margin:9px;

  
}
.test img{
    height: 150px;
        width: 370px;
        display: inline;
        margin-left: 15px;

    }

/*liste des produit*/
#cont input{
background-color: rgb(231, 177, 158);
color: saddlebrown;
padding: 10px 20px;
margin:30px;
margin-left: 240px;

font-size: 15px;
transition: 0.5s;
border-color: slateblue;
border-radius: 50px 20px;
border:solid;
position:relative;
font-style: italic;
font-weight: bold;}
/*code , nom,img,prix*/
.code{
background-color: rgb(192, 160, 223);
color: saddlebrown;
font-size: 30px;
border-radius: solid 1px;
border-color: turquoise;
font-style: italic;
font-weight: bold;
}
/*tableau************/
table{
    border: solid 2px;
    width: 800px;
    height: 400px;
    margin:9px;
	margin-left: auto;
    margin-right: auto;
  
  
    transition: 0.5s;
    border-color: rgb(119, 75, 160);
    background-color:#ffe0ac;
box-shadow:10px 10px 5px #ffacb7;

}

td{
    padding-left: 50px;
    padding-right: 50px;
    font-style: italic;
    font-weight: bold;
}
img{
    height: 70px;
    width: 70px;
}
/*formulaire d'ajout******* Votre panier*/
h1{
    background-color: rgb(231, 177, 158);
color: saddlebrown;
padding: 10px 30px;
margin:20px;
font-size: 15px;
transition: 0.5s;
border-color: slateblue;
border-radius: 50px 20px;
border:solid;
position:relative;
font-style: italic;
font-weight: bold;
width: 130px;
margin-left: 290px;

}
/*code  , quantitee*/
#cc label{
    
    font-style: italic;
    font-weight: bold;
    margin-left: 290px;
}

label{
    font-style: italic;
font-weight: bold;

}
#tableau{
    height: 90px;
    
    width: 800px;
}
/*total*/
#lb{
    margin-left: 900px;
}
/*cliiiic herre*/
#anim{
    animation-name: big;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    color: tan;
}
@keyframes big{
    0%{font-size: 12px;}
    50%{font-size: 40px;}
    100%{font-size: 12px;}
}
/*ajouter*/
#buttom input{
    font-size: 15px;
    font-weight: bold;
    background-color: skyblue;
    transition: 0.5s;
    border-radius: 50px 20px;
    margin-left: 290px;
    font-style: italic;
}
/*supprimer*/
#buttomm input{
    font-size: 15px;
    font-weight: bold;
    background-color: skyblue;
    transition: 0.5s;
    border-radius: 50px 20px;
    margin-left: 290px;
  font-style: italic;
}